li {
  color: blue;
}

.centered {
  <style>div {
    text-align: center;
  }
  </style>
}

#location_banner {
  color: white;
}

#highlight:target td {
  background-color: blue;
  -webkit-transition: all 1s linear;
}

#header_home {
  color: blue;
}